.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}
.cart-btn{
    display: grid;
    gap: 10px;
}
.custom-btn{
    padding: 10px 20px;
    background-color: rgb(86, 150, 223);
    border-radius: 20px;
    text-align: center;
}
.custom-btn:hover{
    background-color: rgb(186, 212, 224);   
}