.header {
  height: 80px;
  background-color: #1C2b35;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}

.header a{
    color: azure;
    text-decoration: none;
    font-size: 16px;
    margin-left: 36px;
}
.header a:hover{
   color: aqua; 
}

